<!DOCTYPE html>

<html lang="zh-Hans">
  {% include head.html %}

  <body>
    <div class="inner">
      <nav class="flex">
        <a href="{{site.baseurl}}/">首页</a>
        <div class="flex-1"></div>
      </nav>
      <header>
        <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>

        <h2>{{ page.description |default:'' }}</h2>
      </header>
      <div class="framework">
        <section class="main_content">{{ content }}</section>
        {% include sidebar.html %}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
